html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

:root {
    --color-border : #dadada;
    --color-primary : rgb(0, 153, 255);
    --color-primary-hover : rgb(3, 122, 201);
    --color-success : rgb(38, 184, 69);
    --color-success-hover : rgb(9, 141, 38);
    --color-danger : rgb(255, 51, 0);
    --color-danger-hover : rgb(201, 3, 3);
    --color-default : rgb(255, 255, 255);
    --color-default-hover : rgb(172, 172, 172);
}

body {
    font-family: 'Roboto';
}

.Topbar{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px;
    display: grid;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    .Topbar{
        grid-template-columns: 250px auto;
    }
}

.TopbarPage{
    background-color: #101824;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    gap: 15px;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.TopbarPage:hover{
    background-color: #031330;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 768px) {
    .TopbarPage{
        padding: 0 10px;
    }
}

.TopbarPage:hover{
    color : white;
}

.TopbarUser{
    display: flex;
    align-items: center;
    gap: 3px;
}

.TopbarUsername{
    text-transform: uppercase;
}

.TopbarPageTitle{
    font-size: 14px;
    font-weight: 400;
}

.TopbarToggleIcon:hover{
    cursor: pointer;
    background-color: #222833;
}

.Icon_Background{
    background-color: #222833;
}

.Icon_Border{
    border: 1px solid #2d3a52;
}

.Sidebar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #182537;
    z-index: 2;
    top:50px;
}

@media only screen and (min-width: 768px) {
    .Sidebar{
        width: 250px;
    }
}

.App.Sidebar_Hide .Sidebar{
    display: none;
}

.SidebarNav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 10px;
}

.SidebarNavLink{
    color: rgba(255, 255, 255, 0.616);
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SidebarNavLink:hover{
    color : white;
}

.Main{
    position: absolute;
    top:50px;
    padding : 10px;
    width: calc(100% - 250px);
    left: 250px;
}

/* @media only screen and (min-width: 768px) {
    .Main{
        position: absolute;
    }
} */

.App.Sidebar_Hide .Main{
    width: 100%;
    left: 0;
}

.Form{
    box-shadow : rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding : 10px;
    display: grid;
    gap: 15px;
}

@media only screen and (min-width: 768px) {
    .Form{
        /* grid-template-columns: 1fr 1fr; */
        padding : 15px;
        gap: 15px;
    }
}

.FormGrid{
    display: grid;
    gap: 15px;
}

@media only screen and (max-width: 767.9999px) {
    .FormGridMobile_Two{
        grid-template-columns: 1fr 1fr;
    }

    .FormGridMobile_Three{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .FormGridMobile_Four{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .Form{
        /* grid-template-columns: 1fr 1fr; */
        padding : 15px;
        gap: 15px;
    }

    .FormGridDesktop_Two{
        grid-template-columns: 1fr 1fr;
    }

    .FormGridDesktop_Three{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .FormGridDesktop_Four{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.FormGroup{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.FormLabel{
    font-size: 12px;
}

.RequiredSymbol{
    color: red;
}

.FormInput{
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.FormSelect{
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.FormTexarea{
    border: 1px solid #dadada;
    border-radius: 5px;
}

.FormSaveBtn{
    height: 34px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
}

.FormSaveBtn:hover{
    background-color: var(--color-primary-hover);
}

.FormAddImageBtn{
    background-color: white;
    border: 1px solid #dadada;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    height: 55px;
}

.FormGroupThumnail{
    display: flex;
    gap: 15px;
}

.FormProductThumnail{
    height: 55px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dadada;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.FormInvalid .FormInput,
.FormInvalid .FormSelect{
    background-color: #f5dfdf!important;
    border: 1px solid #f08c8c!important;
}

.FormValid .FormInput,
.FormValid .FormSelect{
    background-color: #eaf8e9!important;
    border: 1px solid #91f08c!important;
}

.FormErrorMessage{
    color: #d71f27;
    font-size: 10px;
}

.ListSearchTotal{
    margin: 10px 0;
    display: flex;
    gap: 10px;
    font-size: 10px;
    color: #636363;
}

.List{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ListItem{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding : 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color:rgb(32, 32, 32);
}

.ListItem:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ListItemThumnail{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

.ListItemName{
    font-size: 14px;
    font-weight: 400;
}

.ListSpanGroup{
    font-size: 10px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.ListSearchFormInput{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #dadada;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ListSearchFormInput:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ListSearchFormInput:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Btn{
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: black;
    width: max-content;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    text-decoration: none;
    padding : 8px 10px;
    opacity: 0.8;
}

.Btn:hover{
    cursor: pointer;
    opacity: 1;
}

.Btn_Primary{
    background-color: var(--color-primary);
    color: white;
}

.Btn_Success{
    background-color: var(--color-success);
    color: white;
}

.Btn_Danger{
    background-color: var(--color-danger);
    color: white;
}

.Btn_Round{
    border-radius: 50%;
}

.FormBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FormBtnGroup{
    display: flex;
    gap: 10px;
}

.Float{
    position: fixed;
}

.Float_BottomRight{
    right: 20px;
    bottom: 30px;
}